streamlit
streamlit-webrtc==0.34.2
gunicorn
numpy<2.0
#opencv-python-headless==4.5.1.48
opencv-python-headless>=4.8.0
Pillow
joblib
openpyxl
#ultralytics

# streamlit
# ultralytics
# opencv-python-headless==4.5.1.48
# numpy
# pandas
# pillow



